<div class="content">
  <h2><%= t '.title' %></h2>
  
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>
  
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, autofocus: true, class: "required" %>
    </div>
  
    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: "required", minlength: 8, equalTo: "#admin_password" %>
    </div>
  
    <div class="actions">
      <%= f.button class: "button-blue" do %>
        <%= icon 'key' %>
        <%= f.submit t('.change_my_password') %>
      <% end %>
      <%= render "admin/shared/links" %>
    </div>
  <% end %>
  
</div>
