<div class="content">
  <h2>Login</h2>
  
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email, :autofocus => true, :class => "required email" %>
    </div>
  
    <div class="field">
      <%= f.label :password, "Senha" %>
      <%= f.password_field :password, :class => "required" %>
    </div>
  
    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, "Lembrar senha", :class => "checkbox" %>
      </div>
    <% end -%>
  
    <div class="actions">
      <%= f.submit "Login", :class => "button-blue" %>
      <%= render "admin/shared/links" %>
    </div>
  <% end %>
</div>
