<%= form_for [:admin, @admin] do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, class: "required" %>
  </div><!-- end of field -->

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, class: "required email" %>
  </div><!-- end of field -->

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, class: "required", minlength: 8 %>
  </div><!-- end of field -->

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: "required", minlength: 8, equalTo: "#admin_password" %>
  </div><!-- end of field -->

  <div class="actions">
    <%= f.submit class: "button-blue commit" %>
  </div><!-- end of actions -->
<% end %>
