<p><%= t '.hello', name: @resource.name %></p>

<p><%= t '.presenting_link_to_change' %></p>

<p><%= link_to t('.change_my_password'), edit_password_url(@resource, reset_password_token: @resource.reset_password_token) %></p>

<p><%= '.warning' %></p>
<p><%= '.nothing_happens' %></p>
