<!DOCTYPE HTML>
<html dir="ltr" lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <title>Admin</title>
    <%= stylesheet_link_tag    "admin/module", :media => "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "admin/module", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="meny">
      <% if admin_signed_in? %>
        <nav class="main">
          <%= menu do |m| %>

            <%= m.admins admin_root_path do %>
              <i>&#xf007;</i>
              Admins
            <% end %>

          <% end %>
        </nav>
      <% end %>
    </div><!-- end of meny -->

    <% if admin_signed_in? %>
      <div class="meny-arrow"></div>
    <% end %>

    <div class="contents">

      <% if admin_signed_in? %>
        <header class="main">
          <div class="has-icons">
            <%= link_to admin_root_path do %>
              <i>&#xf06c;</i>
              <p>Stulzer.com Website admin</p>
            <% end %>
          </div>

          <div class="right">
            <div class="has-icons contacts">
              <%= link_to "#" do %>
                <i>&#xf0e0;</i>
                <span>23</span>
              <% end %>
            </div>

            <div class="admin">
              <i>&#xf0d7;</i>
              <small>Bem-vindo,</small>
              <p><%= current_admin.name %></p>
              <ul>
                <li>
                <%= link_to admin_admins_path do %>
                  <i>&#xf007;</i>
                  <span>Gerenciar Admins</span>
                <% end %>
                </li>
                <li>
                <%= link_to destroy_admin_session_path, :method => :delete do %>
                  <i>&#xf011;</i>
                  <span>Logout</span>
                <% end %>
                </li>
              </ul>
            </div>
          </div>
        </header>
      <% end %>

      <div class="content">

        <% if notice.present? %>
          <p id="notice"><%= notice %></p>
        <% end %>

        <% if alert.present? %>
          <p id="alert"><%= alert %></p>
        <% end %>

        <%= yield %>
      </div>

    </div><!-- end of contents -->
  </body>
</html>
