<!DOCTYPE html>
<html dir="ltr" lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <title></title>
    <%= javascript_include_tag "html5" %>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= dispatcher_tag %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="main">
      <%= flash_messages %>
      <%= yield %>
    </div>
    <%= javascript_include_tag "application" %>
    <%# analytics "UA-XXXXX" %>
  </body>
</html>
